@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


:root {

    /***** Colors *****/

    /* Primary */

    --clr-Yellow: hsl(47, 88%, 63%);

    /* Neutral * */

    --clr-White: hsl(0, 0%, 100%);
    --clr-Grey: hsl(0, 0%, 50%);
    --clr-Black: hsl(0, 0%, 7%);

    /***** Typography *****/

    --fs: 16px;
    --ff: 'Figtree', sans-serif;

    --fw-semibold: 600;
    --fw-bold: 800;

}

/* reset the Defaults  */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Body */

body {
    background-color: var(--clr-Yellow);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 20px;
}

/* Card */

.card {
    background-color: var(--clr-White);
    width: 380px;
    padding: 24px;

    border: 2px var(--clr-Black) solid;
    border-radius: 16px;
    box-shadow: 6px 6px 0px 0px rgba(18,18,18,0.99);
}

/* card-img */

.card-img {
    margin-bottom: 12px;
}
.card-img img {
    border-radius: 10px;
}

/* Card-info */

.blog-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.blog-info .category {
    background-color: var(--clr-Yellow);
    padding: 6px 12px;
    color: var(--clr-Black);
    border-radius: 4px;
    
    font-size: var(--fs);
    font-weight: var(--fw-bold);
}

.blog-info .pub-date {
    color: var(--clr-Black);
    font-size: 14px;

    margin-bottom: 14px;
}

/* blog-overview */

.blog-overview .title {
    font-size: 24px;
    font-weight: var(--fw-bold);
    color: var(--clr-Black);
    cursor: pointer;
}
.blog-overview .title:hover {
    color: var(--clr-Yellow);
    transform: 0.3s;
    transition-timing-function: ease-in;
}

.blog-overview .summary {
    font-size: var(--fs);
    font-weight: var(--fw-semibold);
    word-spacing: 1.6px;
    color: var(--clr-Grey);

    margin-top: 12px;
    margin-bottom: 24px;
}

/* blog-overview author */

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author .author-avatar {
    width: 36px;
}

.author .author-name {
    font-size: 14px;
    font-weight: var(--fw-bold);
}














